{
    "extends": "standard",
    "parserOptions": {
        "ecmaVersion": 6,
         "sourceType": "module"
    },
    "compilerOptions": {
        "target": "ES6",
        "module": "commonjs"
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "commonjs": true
    }

  }